.vote-mark {
    color: #677250;
    display: inline-block;
    position: relative;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 9px;
    border: 1px solid #677250;
    top: -5px;
    margin-left: 10px;
}
