header {
    background-color: #222;
    padding: 20px 50px;

    .title {
        color: #b3505d;
        font-weight: bold;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .find-text {
        margin: 40px 0 20px 0;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
    }

    .search-input {
        background-color: black;

        >div {
            width: 100%;
            padding: 5px 0;

            &:before {
                border-bottom: solid #75383e 2px;
            }

            &:hover:before {
                border-bottom: none;
            }
        }

        input {
            font-size: 16px;
            margin: 0 15px;
            color: white;
        }
    }

    .search-controls {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;

        .search-by {
            >span {
                margin-top: 5px;
            };
        }

        span {
            text-transform: uppercase;
            color: white;
        }

        .searchButton {
            background-color: #F45263;
            text-transform: uppercase;
            padding: 10px 60px;
        }
    }
}
